.send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
      }

      .chatinput {
        padding: 12px 15px;
        border-radius: 12px;
        border-width: 1px;
        font-size: 15px;
        flex-grow: 1;
      }

      .input {
        display: flex;
        margin-bottom: 20px;
      }

      
