      .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
      }

      .chatinput {
        padding: 12px 15px;
        border-radius: 12px;
        border-width: 1px;
        font-size: 15px;
        flex-grow: 1;
      }

      .input {
        display: flex;
        margin-bottom: 20px;
      }

      .container {
        max-width: 600px;
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .user-chat {
        display: flex;
        justify-content: end;
        align-items: start;
      }

      .robot-chat {
        display: flex;
        align-items: start;
      }

      .message {
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;
      }

      .img {
        width: 50px;
        height: 50px;
        padding-top: 3px;
      }

      .message-container {
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }

      .loader {
        width: 20px;
        height: 20px;
        border: 3px solid #ccc;
        border-top-color: #198754;
        border-radius: 50%;
        animation: spin 0.7s linear infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
