@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Connect next/font variables to Tailwind's font system */
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-heading: var(--font-work-sans), system-ui, sans-serif;

  /* Optional: you can create more semantic tokens */
  --font-body: var(--font-sans);
  --font-mono: var(--font-sans)
}

/* Optional: set default font for whole app */
:root {
  font-family: var(--font-sans);
  font-feature-settings: "cv03", "cv04", "cv11";
}
